# ## Projet python 

Bruno Pincet, Quentin Navarre

In [1]:
import numpy as np
import pandas as pd

In [77]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00373/drug_consumption.data")

In [78]:
df

,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
0,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,2.59171,0.48246,-1.22751,0.24923,-0.31685,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1879,1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1880,1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1881,1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1882,1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1883,1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

CL0 Never Used 
CL1 Used over a Decade Ago 
CL2 Used in Last Decade 
CL3 Used in Last Year
CL4 Used in Last Month 
CL5 Used in Last Week 
CL6 Used in Last Day

In [79]:
df.loc[len(df)]=df.columns
df.columns=(["id","age","gender","education","country","ethnicity","nscore","escore","oscore","ascore","cscore","impulsive","ss",
 "alcohol","amphet","amyl","benzos","caff","cannabis","choc","coke","crack","ecstasy","heroin","ketamine","legalh",
 "lsd","meth","mushrooms","nicotine","semer","vsa"])
df["id"]=df["id"].astype(int)
df = df.set_index("id")
df.sort_index(inplace=True)
for i in range(12):
    df.iloc[:,i]=df.iloc[:,i].astype(float)
df

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
id,,,,,,,,,,,,,,,,,,,,,
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,-1.13788,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.51840,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,-2.57309,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,0.41594,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [80]:
df["escore"]=df.escore.map(escore)
df

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
id,,,,,,,,,,,,,,,,,,,,,
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,36,-0.58331,-0.91699,-0.00665,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,52,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,45,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,34,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,28,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,51,1.88511,0.76096,-1.13788,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,51,0.58331,0.76096,-1.51840,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,30,-1.27553,-1.77200,-1.38502,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,26,0.29338,-1.62090,-2.57309,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,53,1.65653,1.11406,0.41594,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [76]:
string=''

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
id,,,,,,,,,,,,,,,,,,,,,
1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,NaN,-0.58331,-0.91699,-0.00665,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,NaN,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,NaN,-0.84732,-1.62090,-1.01450,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,NaN,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,NaN,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,NaN,1.88511,0.76096,-1.13788,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,NaN,0.58331,0.76096,-1.51840,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,NaN,-1.27553,-1.77200,-1.38502,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,NaN,0.29338,-1.62090,-2.57309,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,NaN,1.65653,1.11406,0.41594,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [55]:
df.iloc[:,0]

id
1       0.49788
2      -0.07854
3       0.49788
4      -0.95197
5       0.49788
         ...
1884   -0.95197
1885   -0.95197
1886   -0.07854
1887   -0.95197
1888   -0.95197
Name: age, Length: 1885, dtype: object

In [36]:




df

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
id,,,,,,,,,,,,,,,,,,,,,
1,NaN,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,CL0.4,CL0.5,CL0.6,CL0.7,CL0.8,CL0.9,CL0.10,CL2.2,CL0.11,CL0.12
2,NaN,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
3,NaN,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.6209,-1.0145,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
4,NaN,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
5,NaN,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.6334,-0.45174,-0.30172,1.30612,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,NaN,0.48246,-0.61113,-0.57009,-0.31685,-1.1943,1.74091,1.88511,0.76096,-1.13788,...,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1885,NaN,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.5184,...,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1886,NaN,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.772,-1.38502,...,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1887,NaN,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.6209,-2.57309,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1888,NaN,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.127,1.65653,1.11406,0.41594,...,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [81]:
for i in df.columns:
    print(i," : ",df[i].unique())

age  :  [ 0.49788 -0.07854 -0.95197  2.59171  1.09449  1.82213]
gender  :  [ 0.48246 -0.48246]
education  :  [-0.05921  1.98437  1.16365 -1.22751 -1.7379   0.45468 -0.61113 -2.43591
 -1.43719]
country  :  [ 0.96082  0.24923 -0.57009 -0.28519 -0.09765  0.21128 -0.46841]
ethnicity  :  [ 0.126   -0.31685  0.1144  -0.22166 -0.50212 -1.10702  1.90725]
nscore  :  [ 0.31287 -0.67825 -0.46725 -0.14882  0.73545 -1.32828  0.62967 -0.24649
 -1.05308  2.28554 -0.79151 -0.92104 -2.05048 -1.55078  0.52135  1.37297
 -0.34799 -1.1943   0.41667  1.60383 -0.05188  0.04257  1.02119  0.82562
  0.13606  1.13281 -1.43907 -0.58016  0.22393 -2.21844  0.91093 -2.3436
  1.8399   1.49158  3.27393 -1.69163  1.98437  2.82196  1.23461 -1.86962
  2.127   -2.42317  2.46262  1.72012  2.61139 -2.75696 -2.52197 -3.15735
 -3.46436]
escore  :  [36 52 45 34 28 38 32 55 40 41 49 29 31 39 27 43 33 '16' 44 37 51 42 48 46
 47 35 50 30 26 58 53 54 23 22 24 19 20 21 25 56 59 18]
oscore  :  [-0.58331  1.43533 -0.84732 -0.01928 -0.45174 -1.55521 -0.97631 -1.42424
 -1.11902  0.14143  0.44585 -1.68062 -0.31776 -0.17779 -2.39883  0.7233
 -1.27553  1.24033 -3.27393 -0.71727  0.88309  0.29338 -2.63199  1.06238
 -1.97495 -1.82919 -2.8595  -2.09015  0.58331  2.15324 -2.21069  1.65653
  1.88511  2.90161  2.44904]
ascore  :  [-0.91699  0.76096 -1.6209   0.59042 -0.30172  2.03972 -0.76096 -1.92595
  0.94156 -0.60633 -1.07533  0.28783 -0.45321  1.61108  1.11406 -0.01729
 -1.47955  0.43852  1.2861  -2.90161  0.13136 -2.07848  1.81866 -0.15487
 -1.21213 -1.34289  1.45039 -1.772    2.46262  2.23427 -2.35413 -2.70172
 -2.21844  2.75696 -2.5383   3.15735 -2.78793 -3.00537 -3.46436 -3.15735
  3.46436]
cscore  :  [-0.00665 -0.14277 -1.0145   0.58489  1.30612  1.63088  0.93949  1.13407
  0.12331  1.81175 -0.52745 -0.78155  3.46436  0.7583  -1.38502 -1.5184
 -1.13788 -0.89891  1.46191 -2.18109 -0.65253  0.41594 -0.40581  0.25953
 -1.92173 -0.27607 -1.64101  2.04506  2.33337 -1.25773  2.63199 -2.90161
 -1.78169 -2.04506 -2.57309 -2.30408 -2.42317 -3.15735 -3.46436 -2.72827
  3.00537]
impulsive  :  [-0.21712 -0.71126 -1.37983  0.19268  0.52975  1.29221  1.86203 -2.55524
  0.88113  2.90161]
ss  :  [-1.18084 -0.21575  0.40148 -1.54858  0.07987 -0.52593 -0.84637  1.2247
  0.7654  -2.07848  1.92173]
alcohol  :  ['CL5' 'CL6' 'CL4' 'CL2' 'CL1' 'CL0' 'CL3']
amphet  :  ['CL2' 'CL0' 'CL1' 'CL3' 'CL5' 'CL4' 'CL6']
amyl  :  ['CL0' 'CL2' 'CL1' 'CL3' 'CL5' 'CL4' 'CL6']
benzos  :  ['CL2.1' 'CL0' 'CL3' 'CL1' 'CL4' 'CL2' 'CL5' 'CL6']
caff  :  ['CL6' 'CL5' 'CL4' 'CL3' 'CL0' 'CL1' 'CL2']
cannabis  :  ['CL0.1' 'CL4' 'CL3' 'CL2' 'CL0' 'CL1' 'CL6' 'CL5']
choc  :  ['CL5.1' 'CL6' 'CL4' 'CL5' 'CL0' 'CL3' 'CL2' 'CL1']
coke  :  ['CL0.2' 'CL3' 'CL0' 'CL2' 'CL1' 'CL6' 'CL5' 'CL4']
crack  :  ['CL0.3' 'CL0' 'CL1' 'CL2' 'CL3' 'CL5' 'CL4' 'CL6']
ecstasy  :  ['CL0.4' 'CL4' 'CL0' 'CL1' 'CL3' 'CL2' 'CL6' 'CL5']
heroin  :  ['CL0.5' 'CL0' 'CL1' 'CL2' 'CL3' 'CL5' 'CL6' 'CL4']
ketamine  :  ['CL0.6' 'CL2' 'CL0' 'CL3' 'CL1' 'CL5' 'CL4' 'CL6']
legalh  :  ['CL0.7' 'CL0' 'CL1' 'CL2' 'CL3' 'CL5' 'CL4' 'CL6']
lsd  :  ['CL0.8' 'CL2' 'CL0' 'CL1' 'CL3' 'CL4' 'CL5' 'CL6']
meth  :  ['CL0.9' 'CL3' 'CL0' 'CL1' 'CL6' 'CL4' 'CL2' 'CL5']
mushrooms  :  ['CL0.10' 'CL0' 'CL1' 'CL2' 'CL3' 'CL4' 'CL5' 'CL6']
nicotine  :  ['CL2.2' 'CL4' 'CL0' 'CL2' 'CL6' 'CL1' 'CL3' 'CL5']
semer  :  ['CL0.11' 'CL0' 'CL2' 'CL3' 'CL4' 'CL1']
vsa  :  ['CL0.12' 'CL0' 'CL1' 'CL3' 'CL6' 'CL2' 'CL5' 'CL4']